@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(./fonts/sf-pro-regular.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  font-family: 'Arial';
  font-family: 'SF-Pro';
  letter-spacing: 1px;
}
